@import url(../../css/animations.css);
.main-statement {
    font-family: 'League_Spartan';
    font-weight: 300;
    width: 60%;
    line-height: 2rem;
    letter-spacing: 2.6px;
    margin: auto;
    margin-bottom: 3rem;
    text-align: center;
    animation: 2s ease-in-out 0s 1 fadeIn;
    -webkit-animation: 2s ease-in-out 0s 1 fadeIn;

}
@media only screen and (max-width: 760px) {
    .main-statement {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 760px) and (max-width: 1300px) {
    .main-statement {
        font-size: 1.5rem;
    }

}
@media only screen and (min-width: 1300px) {
    .main-statement {
        font-size: 2rem;
    }
}
