@import url(../../css/animations.css);

.landing-btn-container {
    animation: 2s ease-in-out 0s 1 fadeIn;
    -webkit-animation: 2s ease-in-out 0s 1 fadeIn;
}
.landing-btn-container a {
    width: 80%;
    background: transparent;
    color: aliceblue;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 0.6rem;
}

.main-btn {
    width: 80%;
    background: transparent;
    color: aliceblue;
    text-transform: uppercase;
    border: 1px solid rgba(151, 151, 151, 0.2);
    padding: 1rem 1rem;
    cursor: pointer;
    text-align: start;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .main-btn span {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.4);
    letter-spacing: 2px;
    margin-right: 1rem;
  }
  .main-btn:hover {
    color: rgb(18, 18, 19);
  }

@media only screen and (max-width: 760px) {
    .landing-btn-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;
    }
}

@media only screen and (min-width: 760px) and (max-width: 1300px) {
    .landing-btn-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;
    }

}
@media only screen and (min-width: 1300px) {
    .landing-btn-container {
        width: 50%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin-top: 5rem;
    }
    .landing-btn-container a {
        width: 100%;
      }
}
