@import url(../../css//colours.css); 

.title-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 760px) {

    .planets-icon {
        margin-top: 2rem;
        width: 10rem;
        height: 10rem;
    }
}

@media only screen and (min-width: 760px) and (max-width: 1300px) {
    .planets-icon {
        margin-top: 2rem;
        width: 16rem;
        height: 16rem;
    }

}
@media only screen and (min-width: 1300px) {
    .planets-icon {
        margin-top: 2rem;
        width: 24rem;
        height: 24rem;
    }

}
