@import url(../../css//colours.css); 

.page-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2rem;
    height: 30rem;
}

@media only screen and (max-width: 760px) {
    .page-main-image.earth-img {
        transform: scale(0.45);
        -webkit-transform: scale(0.45);
        -moz-transform: scale(0.45);
        -ms-transform: scale(0.45);
        -o-transform: scale(0.45);
}
    .page-main-image.jupiter-img {
        transform: scale(0.582);
        -webkit-transform: scale(0.582);
        -moz-transform: scale(0.582);
        -ms-transform: scale(0.582);
        -o-transform: scale(0.582);
    }
    .page-main-image.mars-img {
        transform: scale(0.346);
        -webkit-transform: scale(0.346);
        -moz-transform: scale(0.346);
        -ms-transform: scale(0.346);
        -o-transform: scale(0.346);
}
    .page-main-image.mercury-img {
        transform: scale(0.39);
        -webkit-transform: scale(0.39);
        -moz-transform: scale(0.39);
        -ms-transform: scale(0.39);
        -o-transform: scale(0.39);
}
    .page-main-image.neptune-img {
        transform: scale(0.45);
        -webkit-transform: scale(0.45);
        -moz-transform: scale(0.45);
        -ms-transform: scale(0.45);
        -o-transform: scale(0.45);
    }
    .page-main-image.saturn-img {
        transform: scale(0.648);
        -webkit-transform: scale(0.648);
        -moz-transform: scale(0.648);
        -ms-transform: scale(0.648);
        -o-transform: scale(0.648);
}
    .page-main-image.uranus-img {
        transform: scale(0.458);
        -webkit-transform: scale(0.458);
        -moz-transform: scale(0.458);
        -ms-transform: scale(0.458);
        -o-transform: scale(0.458);
    }
    .page-main-image.venus-img {
        transform: scale(0.40);
        -webkit-transform: scale(0.40);
        -moz-transform: scale(0.40);
        -ms-transform: scale(0.40);
        -o-transform: scale(0.40);
    }
    
}

@media only screen and (min-width: 760px) and (max-width: 1300px) {
    .page-main-image.earth-img {
        transform: scale(0.55);
        -webkit-transform: scale(0.55);
        -moz-transform: scale(0.55);
        -ms-transform: scale(0.55);
        -o-transform: scale(0.55);
}
    .page-main-image.jupiter-img {
        transform: scale(0.592);
        -webkit-transform: scale(0.592);
        -moz-transform: scale(0.592);
        -ms-transform: scale(0.592);
        -o-transform: scale(0.592);
}
    .page-main-image.mars-img {
        transform: scale(0.346);
        -webkit-transform: scale(0.346);
        -moz-transform: scale(0.346);
        -ms-transform: scale(0.346);
        -o-transform: scale(0.346);
}
    .page-main-image.mercury-img {
        transform: scale(0.39);
        -webkit-transform: scale(0.39);
        -moz-transform: scale(0.39);
        -ms-transform: scale(0.39);
        -o-transform: scale(0.39);
}
    .page-main-image.neptune-img {
        transform: scale(0.55);
        -webkit-transform: scale(0.55);
        -moz-transform: scale(0.55);
        -ms-transform: scale(0.55);
        -o-transform: scale(0.55);
}
    .page-main-image.saturn-img {
        transform: scale(0.678);
        -webkit-transform: scale(0.678);
        -moz-transform: scale(0.678);
        -ms-transform: scale(0.678);
        -o-transform: scale(0.678);
}
    .page-main-image.uranus-img {
        transform: scale(0.468);
        -webkit-transform: scale(0.468);
        -moz-transform: scale(0.468);
        -ms-transform: scale(0.468);
        -o-transform: scale(0.468);
}
    .page-main-image.venus-img {
        transform: scale(0.50);
        -webkit-transform: scale(0.50);
        -moz-transform: scale(0.50);
        -ms-transform: scale(0.50);
        -o-transform: scale(0.50);
    }
}
@media only screen and (min-width: 1300px) {
    .page-main-image.earth-img {
        transform: scale(0.55);
        -webkit-transform: scale(0.55);
        -moz-transform: scale(0.55);
        -ms-transform: scale(0.55);
        -o-transform: scale(0.55);
}
    .page-main-image.jupiter-img {
        transform: scale(0.592);
        -webkit-transform: scale(0.592);
        -moz-transform: scale(0.592);
        -ms-transform: scale(0.592);
        -o-transform: scale(0.592);
}
    .page-main-image.mars-img {
        transform: scale(0.346);
        -webkit-transform: scale(0.346);
        -moz-transform: scale(0.346);
        -ms-transform: scale(0.346);
        -o-transform: scale(0.346);
}
    .page-main-image.mercury-img {
        transform: scale(0.39);
        -webkit-transform: scale(0.39);
        -moz-transform: scale(0.39);
        -ms-transform: scale(0.39);
        -o-transform: scale(0.39);
}
    .page-main-image.neptune-img {
        transform: scale(0.55);
        -webkit-transform: scale(0.55);
        -moz-transform: scale(0.55);
        -ms-transform: scale(0.55);
        -o-transform: scale(0.55);
}
    .page-main-image.saturn-img {
        transform: scale(0.678);
        -webkit-transform: scale(0.678);
        -moz-transform: scale(0.678);
        -ms-transform: scale(0.678);
        -o-transform: scale(0.678);
}
    .page-main-image.uranus-img {
        transform: scale(0.468);
        -webkit-transform: scale(0.468);
        -moz-transform: scale(0.468);
        -ms-transform: scale(0.468);
        -o-transform: scale(0.468);
}
    .page-main-image.venus-img {
        transform: scale(0.50);
        -webkit-transform: scale(0.50);
        -moz-transform: scale(0.50);
        -ms-transform: scale(0.50);
        -o-transform: scale(0.50);
    }
}
