@media only screen and (max-width: 760px) {
    .page-main-statement-container {
        width: 80%;
        margin: auto;
        margin-top: 2rem;
    }
    .page-main-statement {
        text-align: center;
        text-transform: none;
        font-size: 1.1rem;
        font-weight: 200;
        letter-spacing: 1px;
    }
    .wiki-link {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform: none;
        font-size: 1.1rem;
    }
    .wiki-link p {
        color: #838391;
        font-weight: 300;
        letter-spacing: 1px;
    }
    .wiki-link a {
        margin-left: 0.8rem;
        color: #FFF;
        font-weight: 400;
        letter-spacing: 2px;
        opacity: 0.7;
    }
    .wiki-icon {
        margin-left: 0.2rem;
    }  

    .wiki-link a:hover {
        opacity: 1;
    }
}

@media only screen and (min-width: 760px) and (max-width: 1300px) {
    .page-main-statement-container {
        text-align: left;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .page-main-statement {
        text-transform: none;
        font-size: 1.1rem;
        font-weight: 200;
        letter-spacing: 1px;
    }
    .wiki-link {
        margin-top: 3rem;
        display: flex;
        text-transform: none;
        font-size: 1.1rem;
    }
    .wiki-link p {
        color: #838391;
        font-weight: 300;
        letter-spacing: 1px;
    }
    .wiki-link a {
        margin-left: 0.8rem;
        color: #FFF;
        font-weight: 400;
        letter-spacing: 2px;
        opacity: 0.7;
    }
    .wiki-icon {
        margin-left: 0.2rem;
    }  

    .wiki-link a:hover {
        opacity: 1;
    }

}
@media only screen and (min-width: 1300px) {
    .page-main-statement-container {
        text-align: left;
        min-height: 20vh;
        margin: 2rem;
    }
    .page-main-statement {
        text-transform: none;
        font-size: 1.1rem;
        font-weight: 200;
        letter-spacing: 1px;
    }
    .wiki-link {
        margin-top: 3rem;
        display: flex;
        text-transform: none;
        font-size: 1.1rem;
    }
    .wiki-link p {
        color: #838391;
        font-weight: 300;
        letter-spacing: 1px;
    }
    .wiki-link a {
        margin-left: 0.8rem;
        color: #FFF;
        font-weight: 400;
        letter-spacing: 2px;
        opacity: 0.7;
    }
    .wiki-icon {
        margin-left: 0.2rem;
    }  

    .wiki-link a:hover {
        opacity: 1;
    }
}
