
@media only screen and (max-width: 760px) {

}

@media only screen and (min-width: 760px) and (max-width: 1300px) {
    .statement-and-button-container{
        display: flex;
        justify-content: space-between;
        margin: 2rem;
    }

}
@media only screen and (min-width: 1300px) {
    .statement-and-button-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 2rem;
    }

    .main-big-screen-container {
        min-height: 60vh;
        display: flex;
        width: 90%;
        margin: auto;
        margin-top: 5rem;
    }
    .main-big-screen-separator-one {
        width: 60%;
    }
    .main-big-screen-separator-two {
        width: 30%;
    }
}
