.page-nav {
    display: none;
}
.page-button-container {
    display: none;
}

@media only screen and (max-width: 760px) {
    .page-nav {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border-bottom: 1px solid rgba(151, 151, 151, 0.2);
    }
    .page-nav a {
        font-family: 'League_Spartan';
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 1.8px;
        color: aliceblue;
        text-decoration: none;
        padding: 1.2rem 0.5rem 1.2rem 0.5rem;
        text-transform: uppercase;
        border-bottom: 4px solid transparent;
    }
}

@media only screen and (min-width: 760px) and (max-width: 1300px) {
    .page-button-container {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin-top: -2rem;
        margin-right: 2rem;
    }
    .page-button-container a{
        margin: 0.5rem;
    }
    .page-nav {
        display: none;
    }
    .page-main-btn {
        width: 80%;
        background: transparent;
        color: aliceblue;
        text-transform: uppercase;
        border: 1px solid rgba(151, 151, 151, 0.2);
        padding: 1rem 1rem;
        cursor: pointer;
        text-align: start;
        font-weight: 600;
        letter-spacing: 2px;
        text-decoration: none;
      }
      .page-main-btn span {
        font-weight: 600;
        color: rgba(255, 255, 255, 0.4);
        letter-spacing: 2px;
        margin-right: 1rem;
      }
      .page-main-btn:hover {
        background-color: rgba(151, 151, 151, 0.2);
      }
}
@media only screen and (min-width: 1300px) {
    .page-button-container {
        display: flex;
    }
    .page-nav {
        display: none;
    }
}
