@import url(../../css/animations.css);

.main-page-info-container {
    animation: 4s ease-in-out slideInLeft;
    -webkit-animation: 4s ease-in-out slideInLeft;
}
@media only screen and (max-width: 760px) {
    .main-page-info-container {
        margin-top: 3rem;
    }
    .main-page-info {
        width: 80%;
        background: transparent;
        color: aliceblue;
        text-transform: uppercase;
        border: 1px solid rgba(151, 151, 151, 0.2);
        padding: 1rem 1rem;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    .main-page-info h4{
        letter-spacing: 1px;
        color: #838391;
    }
    .main-page-info h5{
        font-size: 1.5rem;
        font-weight: 400;
    }
}
@media only screen and (min-width: 760px) and (max-width: 800px) {
    .main-page-info-container {
        margin: 2rem;
        display: flex;
        justify-content: space-between;
    }
    .main-page-info {
        background: transparent;
        color: aliceblue;
        text-transform: uppercase;
        border: 1px solid rgba(151, 151, 151, 0.2);
        padding: 1rem 3rem 1rem 1rem;
        display: flex;
        flex-direction: column;
    }
    .main-page-info h4{
        letter-spacing: 1px;
        color: #838391;
    }
    .main-page-info h5{
        font-size: 1.5rem;
        font-weight: 400;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1300px) {
    .main-page-info-container {
        margin: 2rem;
        display: flex;
        justify-content: space-between;
    }
    .main-page-info {
        background: transparent;
        color: aliceblue;
        text-transform: uppercase;
        border: 1px solid rgba(151, 151, 151, 0.2);
        padding: 1rem 5rem 1rem 1rem;
        display: flex;
        flex-direction: column;
    }
    .main-page-info h4{
        letter-spacing: 1px;
        color: #838391;
    }
    .main-page-info h5{
        font-size: 1.5rem;
        font-weight: 400;
    }

}
@media only screen and (min-width: 1300px) {
    .main-page-info-container {
        display: flex;
        justify-content: space-between;
        max-width: 66%;
        margin: auto;
        margin-top: 2.5rem;
    }
    .main-page-info {
        background: transparent;
        color: aliceblue;
        text-transform: uppercase;
        border: 1px solid rgba(151, 151, 151, 0.2);
        padding: 2rem 5rem 2rem 1.5rem;
        display: flex;
        flex-direction: column;
    }
    .main-page-info h4{
        font-size: 0.8rem;
        letter-spacing: 1px;
        color: #838391;
    }
    .main-page-info h5{
        font-size: 2.5rem;
        font-weight: 400;
    }
}
